html,
body,
.div-align{
    height: 100%;
    margin: 0;
    padding: 0 0;
}

.container-centered {
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color:#F04F38;
    padding:5% 0% 5% 0%;
}

.row-centered {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.div-centering {
    float: none;
    margin: 0 auto;
}

.text-login-white{
    color:#fff;
    text-decoration: none;
}
.text-login-white:hover{
    color:#fff;
    text-decoration: none;
}
/***********************************************
* Styles for Menu Top
************************************************/


.MainPanelIntro
{
	height:100% !important;
	width:100% !important;
}
.img-large
{
	max-width:250px !important;
}

.backgroundMain
{
	background-color:#F04F38 !important;
}

.iconsBackground
{
	background-color:#E8E9EA !important;
}

.MenuBackground
{
	width:100%;
	height:18%;
	padding-top:11px;
    padding-bottom:11px;
}
.PanelLefth
{
	width:50%;
	height:100%;
	float:left;
	padding-left: 5%;
}
.PanelRight
{
	height:100%;
	float:right;
	padding-right: 5%;
}
.Panel-Photo
{
	max-width:60px;
	max-height:60px;
	text-align:right;
}
.img-thumb
{
	border-radius: 60px;
}
.Preicon
{
	padding:3px;
	border: 2px solid #22B0E5;
	border-radius: 60px;
	max-width:65px;
	max-height:65px;
}
.PhotoIconLabel
{
	background-color:#FFF; margin-top:-70px; font-family:Arial; font-size:9px;
}

/*****************************************************
* Styles for Main Menu
*****************************************************/
.MenuIcon
{ 
	min-height:130px;
	padding:3%;
}
.MenuBackgroundG
{ 
	background-color:#E8E9EA;
}
.Margin
{
	padding:5%;
}
.MainText
{
	font-family:"Arial";
	font-size:4.0vw;
	color:#A9A9A9;
}

.MainText2
{
	font-family:"Arial";
	font-size:4.8vw;
	color:#A9A9A9;
}

.ColorScore
{
	font-family:"Arial";
	font-size:5.2vw;
	color:#F04F38;
}
.categoryLavel
{
	font-family:"Arial";
	font-size:12px;
	color:#F04F38;
	border: 1px solid #F04F38;
	padding:2px;
}
.LevelOne
{
	font-family:"Arial";
	font-size:16px;
	margin-top:3px;
	padding:3px;
	color:#FFFFFF;
	background-color:#FCB614;
}

.LevelOne2
{
	font-family:"Arial";
	font-size:25px;
	margin-top:3px;
	padding:3px;
	color:#FFFFFF;
	background-color:#FCB614;
}

.LevelTwo
{
	font-family:"Arial";
	font-size:16px;
	margin-top:3px;
	padding:3px;
	color:#FFFFFF;
	background-color:#8BCCB2;
}

.LevelTwo2
{
	font-family:"Arial";
	font-size:25px;
	margin-top:3px;
	padding:3px;
	color:#FFFFFF;
	background-color:#8BCCB2;
}
.MenuBack
{
	padding-top:5px;
	padding-left:20px;
	font-size:24px;
	color:#000000 !important;
}

.MenuBack:hover
{
	background-color:#DCDCDC !important;
	color:#000000;
}

.TitleDo
{
	padding-top:5px;
	font-size:6vw;
	color:#8BCCB2 !important;
}
.prefoto
{
	opacity:0.5;
}

/**********************************
* Button Yes or No
***********************************/
.onoffswitch {
    position: relative; width: 89px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #F5EBEB; border-radius: 37px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 36px; padding: 0; line-height: 36px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 9px;
    background-color: #22B04B; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 9px;
    background-color: #EBE2E2; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 16px; margin: 10px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 49px;
    border: 2px solid #F5EBEB; border-radius: 37px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.CameraPhoto
{
	width:100%;
	height:75px;
}
.scores
{
	color:#b2b2b2;
	font-size:5.5vw;
}
.title1
{
	color:#000000;
	font-size:8vw;
}
.title4
{
	color:#808080;
	font-size:5.5vw;
}
.title5
{
	color:#808080;
	font-size:5.2vw;
}
.scoreNumbersC
{
	color:#7d7d7d;
	font-size:13vw;
	font-weight:bold;
}
.AppColor
{
	color:#F04F38;
}
.Black
{
	color:#000000;
}

.indexLetters
{
	font-size:50px;
}

.NoPadding
{
	padding:0px;
}

.NoPaddingLR
{
	padding-left:0px;
	padding-right:0px;
}

.NoPaddingTD
{
	padding-top:0px;
	padding-bottom:0px;
}

.PaddingLR
{
	padding-left:8%;
	padding-right:8%;
}

.PaddingAll
{
	padding:30px;;
}

.ActiveRed
{
	background-color: #F04F38;
	color:#FFFFFF !important;
	text-shadow: 1px 1px 1px #000000;
}
.img-inactive
{
	opacity:0.5;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.crop 
{
position: relative;
width: 100px;
height: 100px;
overflow: hidden;
}
.crop img 
{
position: absolute;
top: -100%;
bottom: -100%;
left: -100%;
right: -100%;
margin: auto; 
height: auto;
width: auto;
}
.text-menu-category
{
	
}

/******************************************************************************/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:11vw;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:11vw;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:11vw;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
.NoActiveModule
{
	opacity:0.6;
}
