		<br />
<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10 text-center">
			<img id="prefoto" src="./images/prefoto.jpg" width="100%" class="img-responsive prefoto"/>
			<p id="leyend" class="challenge" style=" background-color:#000000; color:#FFFFFF; opacity:2; padding:5%;">You can take a photo to complete this challenges!!!</p>
	</div>
		
	<div class="col-xs-1">
	</div>
	
</div>

<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10">
		<div>
			<div class="col-xs-9 NoPaddingLR">
				<div class="form-group">
					<textarea rows="3" style="resize:none;" class="form-control" placeholder="Write something to show ..." id="commentFoto"></textarea>
				</div>
			</div>
			<div class="col-xs-3 text-center NoPaddingLR">
				<button id="CameraPhoto" class="btn btn-primary CameraPhoto"><span class="glyphicon glyphicon-camera"></span></button>
			</div>
		</div>
	</div>
	<div class="col-xs-1">
	
	</div>	
</div>


<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10">
		<div>
			<div class="col-xs-8 NoPaddingLR">
				<div class="onoffswitch">
				    <input type="checkbox" name="onoffswitch" id="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
				    <label class="onoffswitch-label" for="myonoffswitch">
				        <span class="onoffswitch-inner"></span>
				        <span class="onoffswitch-switch"></span>
				    </label>
				</div>
				<div>
					<span class="MainText">share it on</span><br />
					<span class="MainText">IBM Connections</span>
				</div>
			</div>
			<div class="col-xs-4 text-right NoPaddingLR">
				<img src="./images/getPoints.png" width="100%" class="img-responsive getMyPoints"/>
			</div>
		</div>
	</div>
	<div class="col-xs-1 NoPaddingLR">
	</div>	
</div>
				