<div id="PanelMain" class="Margin">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-4 text-center MenuBackgroundG Margin ChallengesClick NoPaddingTD">
            <div class="row text-left Margin">
                <span class="MainText">Challenges</span>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img id="uno" src="./images/MUno.png" width="90%" class="img-responsive center-block iconMenu" />
                </div>
            </div>
            <div class="row text-right Margin">

                <span class="MainText">completed</span> <span class="ColorScore" id="my_Complete"></span>
            </div>
        </div>
        <div class="col-xs-offset-2 col-xs-4 text-center MenuBackgroundG Margin PositionClick NoPaddingTD">
            <div class="row text-left Margin">
                <span class="MainText">Position</span>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img id="uno" src="./images/MDos.png" width="90%" class="img-responsive center-block iconMenu" />
                </div>
            </div>
            <div class="row text-right Margin">
                <span class="MainText">Score</span> <span class="ColorScore" id="my_Score"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 text-center">
            <img src="./images/menu.png" width="80%" class="img-responsive center-block" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-4 text-center NoActiveModule MenuBackgroundG Margin LevelsClick NoPaddingTD">
            <div class="row text-left Margin">
                <span class="MainText">Levels</span>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img id="uno" src="./images/MCuatro.png" width="90%" class="img-responsive center-block iconMenu" />
                </div>
            </div>
            <div class="row text-right Margin">
                <span class="ColorScore" id="my_Rank">43</span>
            </div>
        </div>
        <div class="col-xs-offset-2 col-xs-4 text-center MenuBackgroundG NoActiveModule Margin RulesClick NoPaddingTD">
            <div class="row text-left Margin">
                <span class="MainText">Rules</span>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <img id="uno" src="./images/MCinco.png" width="90%" class="img-responsive center-block iconMenu" />
                </div>
            </div>
            <div class="row text-right Margin">
                <span class="ColorScore">get detail</span>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
	<div  class="col-lg-12 text-center">
		<span class="MainText AppColor">2016 &copy; IBM - V1.0.5</span>
	</div>
</div>