<div class="container-centered loginContainer" >
    <div class="row-centered">
        <div class="centering">
            <div class="container">
            
            	
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 text-center">
                        <img src="./images/logo.png" style="display:inline-block;" width="90%" class="img-responsive" />
                    </div>
                </div>
                <div class="row" style="padding-top:35px;">
                    <div class="col-xs-offset-1 col-xs-10">

                       		<div class="form-group">
                                <label class="text-login-white" for="email">Email address:</label>
                                <input type="email" class="form-control" id="UserId">
                            </div>
                            <div class="form-group">
                                <label class="text-login-white" for="pwd">Password:</label>
                                <input type="password" class="form-control" id="Password">
                            </div>
                            <div class="checkbox">
                                <label class="text-login-white">
                                    <input type="checkbox" id="RememberCheck"> Remember my email address</label>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg btn-block Login">Log In</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="text-login-white"><a href="javascript:void(0);" class="text-login-white">Terms & Policies </a> | <a href="javascript:void(0);" class="text-login-white">Privacy</a></span>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
<div id="MainPanelGeneral" class="">
        <div id="MenuPanel">
            <!-- ********************************************************************************************************
                            First Section for menu 
            *********************************************************************************************************-->
            

            <!-- ********************************************************************************************************
                            End Section for menu 
            *********************************************************************************************************-->
        </div>
        
        <div id="NavegacionCatego" class="">
            
        </div>

        <div id="MainPanel" class="div-align">
            <!-- ********************************************************************************************************
                            First Section for body
            *********************************************************************************************************-->

            <!-- ********************************************************************************************************
                            End Section for body 
            *********************************************************************************************************-->
        </div>
    </div>
    


<!-- Modal -->
<div class="modal fade" id="AtomsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title AppColor" ><img src="./images/logo-color.png" style="height:12vw;" class="img-responsive" /></h4>
            </div>
            <div class="modal-body title4 AppColor" id="myModalLabel">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn ActiveRed" data-dismiss="modal">Accept</button>
            </div>
            
        </div>
    </div>
</div>
    
    <!-- Modal One Option-->
<div class="modal fade" id="AtomsModalOne" tabindex="-1" role="dialog" aria-labelledby="myModalLabelOne">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        	<div class="modal-header">
                <h4 class="modal-title AppColor" ><img src="./images/logo-color.png" style="height:12vw;" class="img-responsive" /></h4>
            </div>
            <div class="modal-body AppColor title4 text-center" id="myModalLabelOne">

            </div>
            <div class="modal-footer">
            	<button type="button" class="btn ActiveRed" data-dismiss="modal">Accept</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> 
            </div>
        </div>
    </div>
</div>