<div class="row">
	<div class="col-xs-3 text-center categoryLavel CategoryOneClick">
		<label id="izquierda" class="text-menu-category title5">X</label>
	</div>
	<div class="col-xs-6 text-center categoryLavel CategoryTwolick">
		<label class="text-menu-category title5" id="CategoryName">Productivity</label>
	</div>
	<div class="col-xs-3 text-center categoryLavel CategoryThreeClick">
		<label id="derecha" class="text-menu-category title5">&#62;&#62;</label>
	</div>
</div>
<script type="text/javascript">
		$(".CategoryOneClick").on('click',function()
		{
			if(CM_counter>1&&CM_counter<=CM_categoryData.length)
			{
				CM_counter--;
				$("#CategoryName").html(CM_categoryData[CM_counter-1].Name);
				setCategory(CM_counter);
				$("#derecha").html("&#62;&#62;");	
			}else
			{
				$("#izquierda").html("X");
			}
		});
		
		$(".CategoryThreeClick").on('click',function()
		{
			if(CM_counter>0 && CM_counter<CM_categoryData.length)
			{
				CM_counter++;
				$("#CategoryName").html(CM_categoryData[CM_counter-1].Name);
				$("#izquierda").html("&#60;&#60;");
				setCategory(CM_counter);	
			}else
			{
				$("#derecha").html("X");
			}
		});
</script>
