<nav class="MenuBackground backgroundMain navbar navbar-default navbar-fixed-top">

<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <img id="UserPicture" src="./images/foto.png" width="50px" style="display:inline-block;" class="img-responsive img-circle" />
      </button>
      <img src="./images/logo.png" height="70px" class="navbar-brand img-responsive main" />
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="menuOptions" href="#"><img id="UserPicture" src="./images/foto.png" width="35px"  class="img-circle miniPhoto" />  Profile</a></li>
        <li><a class="menuOptions" href="#">My Score</a></li>
        <li><a class="menuOptions" href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="height:65px;">
</div>