<div class="row text-center" style="padding-top:5%;">
	<div class="col-lg-12">
		<h4 id="CategoryIDMyScore" class="TitleDo"> Category 1</h4>
		<h1 id="congratulations" class="title1"><strong>Congratulations!</strong></h1>
		<h5 class="scores">previous score</h5>

		<p class="scoreNumbersC"><span id="scoreAfter">25</span><br /><span id="lastNewScore" class="AppColor">+32</span></p>
		<h4 class="title4"> You need <strong><span id="scoreNumberNeedIt">234</span></strong> points to get the next level.</h4>
		<p class="scoreNumbersC Black" id="TotalActualScore">25</p>
		<h5 class="scores">actual score</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
	</div>
	<div class="col-xs-4">
		<img id="prefoto" src="./images/closeButton.png" width="100%" class="img-responsive closeButtonScore"/>
	</div>
	<div class="col-xs-4">
	</div>
</div>