<div class="row text-center">
	<label class="title1 AppColor">Your <strong>Rank</strong></label>
</div>
<div class="row text-center">
	<span class="scoreNumbersC AppColor" id="myRankNumber"></span>
</div>
<div class="row" style="padding:7%; padding-top:0px;" id="container">
	<div class="row" id="rank_header">
		<div class="col-xs-2 text-center">
			<label class="title3 AppColor"><strong>Rank</strong> </label>
		</div>
		<div class="col-xs-offset-7 col-xs-3 text-center">
			<label class="title4"><strong>Score</strong></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-4 col-xs-4 text-center">
			<img id="loading" src="./images/loading.gif" width="100%" class="img-responsive" style="display:inline;"/>
		</div>
	</div>
	<div class="row ActiveRed" id="myData">
 		<div class="col-xs-2 text-center NoPaddingLR">
 			<span class="title5 ActiveRed" id="myRank"></span>
 		</div>
 		<div class="col-xs-7 text-left NoPaddingLR">
 			<span class="title5 ActiveRed"id="myName"></span>
 		</div>
 		<div class="col-xs-3 text center NoPaddingLR">
 			<span class="title5 ActiveRed"id="myScore"></span>
 		</div>
 	</div>
</div>

<div class="col-lg-12 text-center">
	<label class="title4 Click123">My Score &#62;&#62;</label>
</div>
<script type="text/javascript">
	$(".Click123").on("click",function(){
			setView("badges",badges_js,false);
	});

</script>
