<div class="row" style="border-bottom:1px solid #E8E9EA">
	<div class="col-xs-3 text-center categoryLavel CategoryOneClick">
		<label id="izquierda" class="text-menu-category title5">&nbsp;</label>
	</div>
	<div class="col-xs-6 text-center categoryLavel CategoryTwolick">
		<label class="text-menu-category title5" id="CategoryName">Productivity</label>
	</div>
	<div class="col-xs-3 text-center categoryLavel CategoryThreeClick">
		<label id="derecha" class="text-menu-category title5">&#62;&#62;</label>
	</div>
</div>


<script type="text/javascript">
	$(function() 
       {   
       	console.log("entra Evento activado Izq");
           $("#MainPanel").swipe( 
           {
           	swipeLeft:function(event, direction, distance, duration, fingerCount, fingerData) 
               {
           		console.log("Evento activado Izq");
                   previousCategory();
               },

               threshold:50
           });

       });
	

	$(function() 
	{    
		console.log("entra Evento activado der");
           $("#MainPanel").swipe( 
           {
           	swipeRight:function(event, direction, distance, duration, fingerCount, fingerData) 
               {
           		console.log("Evento activado der");
                   nextCategory();
               },

               threshold:50
           });
       });
	if(category_CurrentCategory>1)
	{
		$("#izquierda").html("&#60;&#60;");
	}
	
	$(".CategoryOneClick").on('click',function()
	{
		nextCategory();
	});
	
	$(".CategoryThreeClick").on('click',function()
	{
           previousCategory();
	});
</script>
