
<div class="row" style="border-bottom:1px solid #E8E9EA">
	<div class="col-xs-3 text-center categoryLavel BackClickMenu" onclick="back_Click()" style="border-right:1px solid #E8E9EA">
	    <img src="./images/flechaI.png" width="30%" class="img-responsive" style="display:inline" />
	</div>
	<div class="col-xs-6 text-center categoryLavel">
		<label class="text-menu-category title5" id="CategoryName">Good Luck!!</label>
	</div>
	<div class="col-xs-3 text-center categoryLavel">
		<label id="derecha" class="text-menu-category title5">&nbsp;&nbsp;</label>
	</div>
</div>