<div class="row" style="padding:20px; padding-top:5px">
	<div class="col-xs-12">
		<h1 class="title2 greenColor text-center">Categories</h1>
		<div class="row">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/good2.png" width="100%" style="display:inline-block;" class="img-responsive GenerocityCa"/>
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/people2.png" width="100%" style="display:inline-block;" class="img-responsive SocialCa"/>
			</div>
			<div class="col-xs-1">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/heart2.png" width="100%" style="display:inline-block;" class="img-responsive HealthCa"/>
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/clock2.png" width="100%" style="display:inline-block;" class="img-responsive ProductivityGood"/>
			</div>
			<div class="col-xs-1">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12 text-center" style="padding-left:30px;">
				<img src="./images/plant2.png" width="40%" style="display:inline-block;" class="img-responsive EnvironmentCa"/>
			</div>
		</div>
		
	</div>
</div>

<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
				
		});
	$(".ProductivityGood").on('click',function(){
		console.log("Before :"+1)
		setView("category",category_js, false);
		DisplayCategory(1);	
	});
	
	$(".SocialCa").on('click',function(){
		console.log("Before :"+2)
		setView("category",category_js, false);
		DisplayCategory(2);	
	});
	$(".EnvironmentCa").on('click',function(){
		console.log("Before :"+3)
		setView("category",category_js, false);
		DisplayCategory(3);	
	});
	$(".HealthCa").on('click',function(){
		console.log("Before :"+4)
		setView("category",category_js, false);
		DisplayCategory(4);	
	});
	$(".GenerocityCa").on('click',function(){
		console.log("Before :"+5)
		setView("category",category_js, false);
		DisplayCategory(5);	
	});
	
	
	
	
		
</script>