<div class="row" style="padding:20px; padding-top:5px">
	<div class="col-xs-12">
		<h1 class="title2 greenColor text-center">Categories</h1>
		<div class="row">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/good2.png" width="100%" style="display:inline-block;" class="img-responsive GenerocityCa"/>
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/people2.png" width="100%" style="display:inline-block;" class="img-responsive SocialCa"/>
			</div>
			<div class="col-xs-1">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/heart2.png" width="100%" style="display:inline-block;" class="img-responsive HealthCa"/>
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/clock2.png" width="100%" style="display:inline-block;" class="img-responsive ProductivityGood"/>
			</div>
			<div class="col-xs-1">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-3">
			</div>
			<div class="col-xs-5 text-center">
				<img src="./images/plant2.png" width="100%" style="display:inline-block;" class="img-responsive EnvironmentCa"/>
			</div>
			<div class="col-xs-3">
				
			</div>
		</div>
		
	</div>
</div>

<script type="text/javascript" charset="utf-8">
		$(document).ready(function()
		{
				categoryIntro=0;
		});
		$(document).on('click', ".ProductivityGood",function()
		{
				
				setView("category",category_js,false);
				init_category(1);	
		});
		
		$(document).on('click', ".SocialCa",function()
		{
				setView("category",category_js,false);
				init_category(2);
					
		});
		$(document).on('click', ".EnvironmentCa",function()
		{
				setView("category",category_js,false);
				init_category(3);
					
		});
		$(document).on('click', ".wellnessCa",function()
		{
				setView("category",category_js,false);
				init_category(4);
					
		});
		$(document).on('click', ".GenerocityCa",function()
		{
				setView("category",category_js,false);
				init_category(5);
					
		});
</script>