<div id="PaddingMain" class="Margin MainContainer">

<!--  
	<div class="row NoPaddingLR ">
		<div class="col-lg-4 MenuBackgroundG">
			<div class="row">
				<div class="col-xs-8" style="padding:0px; heigh:100%;">
					<div class="Margin">
						<span class="MainText2">Compliment someone today. Even better, do it on IBM Connections</span>
					</div>
					<div style="margin-top:10%;">
						<span class="LevelOne2 DetailsClickCategory NoPaddingLR">...</span>
					</div>
				</div>
				<div class="col-xs-4 text-right NoPadding">
					<div class="text-right;">
						<span class="LevelOne">+10</span>
						<div class="text-right Margin">
							<img src="./images/do.png"  class="img-responsive doitClick"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row NoPaddingLR cat" style="padding-top:5%;">
		<div class="col-lg-4 MenuBackgroundG">
			<div class="row">
				<div class="col-xs-8" style="padding:0px; heigh:100%;">
					<div class="Margin">
						<span class="MainText2">Compliment someone today. Even better, do it on IBM Connections</span>
					</div>
					<div style="margin-top:10%;">
						<span class="LevelOne2 DetailsClickCategory NoPaddingLR">...</span>
					</div>
				</div>
				<div class="col-xs-4 text-right NoPadding">
					<div class="text-right;">
						<span class="LevelOne">+15</span>
						<div class="text-right Margin">
							<img src="./images/do.png"  class="img-responsive doitClick"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row NoPaddingLR" style="padding-top:5%;">
		<div class="col-lg-4 MenuBackgroundG">
			<div class="row">
				<div class="col-xs-8" style="padding:0px; heigh:100%;">
					<div class="Margin">
						<span class="MainText2">Compliment someone today. Even better, do it on IBM Connections</span>
					</div>
					<div style="margin-top:10%;">
						<span class="LevelTwo2 DetailsClickCategory NoPaddingLR">...</span>
					</div>
				</div>
				<div class="col-xs-4 text-right NoPadding">
					<div class="text-right;">
						<span class="LevelTwo">+20</span>
						<div class="text-right Margin">
							<img src="./images/done.png"  class="img-responsive doitClick"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
-->
</div>

