		<br />
<div class="row">
	<div class="col-xs-offset-1 col-xs-10 text-center">
	<script>
	var result = (Math.floor(Math.random()*(5-1+1)+1));
	if(result==5)
	{
		$("#prefoto").attr("src","./images/prefoto.png");
	}
	else if(result==4)
	{
		$("#prefoto").attr("src","./images/001.jpg");
	}
	else if(result==3)
	{
		$("#prefoto").attr("src","./images/002.jpg");
	}
	else if(result==2)
	{
		$("#prefoto").attr("src","./images/003.png");
	}
	else if(result==1)
	{
		$("#prefoto").attr("src","./images/004.jpg");
	}
	evalType(selectedType);
	function evalType(type){
       if(type==1)	{
       		console.log('Ambos');
       }else if(type==2){
            $('#commentFoto').val(' ');
            $('#commentFoto').attr('disabled','disabled');
	    	console.log('Foto');
	    }else if(type==3){
	    	$("#CameraPhoto").hide();
            camera_success=true;
        	console.log('Texto');
        }
    }
	</script>
			<img id="prefoto" src="" width="100%" class="img-responsive prefoto"/>
			<p id="leyend" class="challenge" style=" background-color:#000000; font-size:5vw;color:#FFFFFF; opacity:2; padding:5%;">You can take a photo to complete this challenges!!!</p>
		<script type="text/javascript">
			$("#leyend").text(category_Data[selectedChallenge].Long);
		</script>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div>
			<div class="col-xs-9 NoPaddingLR">
				<div class="form-group">
					<textarea rows="3" style="resize:none;" class="form-control" placeholder="Write something to show ..." id="commentFoto"></textarea>
				</div>
			</div>
			<div id="buttonCam" class="col-xs-3 text-center NoPaddingLR Camera">
				<button id="CameraPhoto" class="btn ActiveRed CameraPhoto"><span class="glyphicon glyphicon-camera" style="font-size:5vw;"></span></button>
			</div>
		</div>
	</div>
</div>

<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="progress" id="ProgressUp" style="display:none;">
		    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
		      Uploading...
		    </div>
		 </div>
	</div>
</div>
</div>



<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div>
			<div class="col-xs-8 NoPaddingLR">
			<!--  
				<img src="./images/asd.png" height="50px" class="img-responsive" />
				  -->
				<div class="onoffswitch">
				    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
				    <label class="onoffswitch-label" for="myonoffswitch">
				        <span class="onoffswitch-inner"></span>
				        <span class="onoffswitch-switch"></span>
				    </label>
				</div>
				<div>
					<label class="title6">share it on<br />IBM Connections</label>
				</div>
			</div>
			<div class="col-xs-4 text-right NoPaddingLR" style="padding-bottom:10px;">
				<img src="./images/getPoints.png" width="90%" class="img-responsive getMyPoints"/>
			</div>
		</div>
	</div>
</div>
				
    <!-- Modal One Option-->
<div class="modal fade" id="AtomsModalCamera" tabindex="-1" role="dialog" aria-labelledby="myModalLabelOne">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        	<div class="modal-header">
                <h4 class="modal-title AppColor" ><img src="./images/logo-color.png" style="height:12vw;" class="img-responsive" /></h4>
            </div>
            <div class="modal-body AppColor title4 text-center" id="myModalLabelOneCamera">
			
            </div>
            <div class="modal-footer">
            	<div>
            		<button id="btnCamara" type="button" class="btn ActiveRed" data-dismiss="modal">Take a Picture</button>
            	</div>
            	<br/>
            	<div>
            		<button id="btnGaleria" type="button" class="btn btn-default" data-dismiss="modal">Open Gallery</button>
            	</div>
            </div>
        </div>
    </div>
</div>
