<div id="PanelMain" class="Margin">
	<div class="row" id="newVersion" style="display:none;">
             <div class="container col-xs-12">
             	<div class="alert alert-danger alert-dismissible text-center" role="alert">
				  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  	<strong class="text_alert">Atoms a new version is available</strong>
				</div>
             </div>
    </div>
    <script>
    		$.when(get_Data(version)).then(function(data)
    		{
    			console.log("Local version: "+VersionApp);
				console.log("Server version: "+data[0].Version);
				if(data[0].Version!=VersionApp)
				{
				   $("#newVersion").css("display", "block");
				}
			});
	         
	</script>
    <div class="row">
    
        <div class="col-xs-offset-1 col-xs-4 text-center MenuBackgroundG Margin ChallengesClick NoPaddingTD animated fadeInDown">
            <div class="row text-left Margin">
                <span class="MainText">Challenges</span>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img id="uno" src="./images/MUno.png" width="90%" class="img-responsive center-block iconMenu" />
                </div>
            </div>
            <div class="row text-right Margin">

                <span class="MainText">completed</span> <span class="ColorScore" id="my_Complete"></span>
            </div>
        </div>
        
        <div class="col-xs-offset-2 col-xs-4 text-center MenuBackgroundG Margin PositionClick NoPaddingTD animated fadeInDown">
            <div class="row text-left Margin">
                <span class="MainText">Position</span>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img id="uno" src="./images/MDos.png" width="90%" class="img-responsive center-block iconMenu" />
                </div>
            </div>
            <div class="row text-right Margin">
                <span class="MainText">Position</span> <span class="ColorScore" id="my_Score"></span>
            </div>
        </div>
        
    </div>
    <div class="row" style="margin:15px 0px 15px 0px;">
        <div class="col-xs-offset-3 col-xs-6 text-center animated rotateIn">
            <img src="./images/menu.png" width="80%" class="img-responsive center-block" />
        </div>
    </div>

    <div class="row">
    
        <div class="col-xs-offset-1 col-xs-4 text-center NoActiveModule MenuBackgroundG Margin LevelsClick NoPaddingTD animated fadeInUp">
            <div class="row text-left Margin">
                <span class="MainText">Levels</span>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img id="uno" src="./images/MCinco.png" width="90%" class="img-responsive center-block iconMenu" />
                </div>
            </div>
            <div class="row text-right Margin">
                <span class="MainText" id="my_Rank">per category</span>
            </div>
        </div>
        
        <div class="col-xs-offset-2 col-xs-4 text-center MenuBackgroundG NoActiveModule Margin RulesClick NoPaddingTD animated fadeInUp">
            <div class="row text-left Margin">
                <span class="MainText">TimeLine</span>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                	<img id="uno" src="./images/MCuatro2.png" width="70%" class="img-responsive center-block iconMenu" />
                    
                </div>
            </div>
            <div class="row text-right Margin">
                <span class="MainText">all players</span>
            </div>
        </div>
        
    </div>
</div>
<br />
<div class="row">
	<div  class="col-lg-12 text-center animated fadeInUp">
		<span class="MainText AppColor footerVersion">2016 &copy; IBM - V1.2.1</span>
	</div>
</div>