<div class="row" style="padding:20px; padding-top:5px">
	<div class="col-xs-12">
		<h1 class="title2 greenColor text-center">Levels</h1>
		<br />
		<div class="row" style="font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;">
				<div class="col-xs-1">
				</div>
				<div class="col-xs-4 text-center" style="margin:6px;">
					<div class="row" style="border: 3px #23bee3 dashed;border-radius:10px;">
						<div class="col-xs-7 text-center" style="padding-right:0px;padding-left:0px;">
							<img src="./images/clock3.png" width="100%" style="display:inline-block;" class="img-responsive"/>
						</div>
						<div class="col-xs-5 titleLevels">
							1
						</div>
					</div>
				</div>
				<div class="col-xs-1">
				</div>
				<div class="col-xs-4 text-center" style="margin:6px;">
					<div class="row" style="border: 3px #fcb614 dashed;border-radius:10px;">
						<div class="col-xs-7 text-center" style="padding-right:0px;padding-left:0px;">
							<img src="./images/good3.png" width="100%" style="display:inline-block;" class="img-responsive"/>
						</div>
						<div class="col-xs-5 titleLevels">
							1
						</div>
					</div>
				</div>
				
		</div>
		<br /><br />
		<div class="row">
				<div class="col-xs-1">
				</div>
				<div class="col-xs-4 text-center" style="margin:6px;">
					<div class="row" style="border: 3px #58286f dashed;border-radius:10px;">
						<div class="col-xs-7 text-center" style="padding-right:0px;padding-left:0px;">
							<img src="./images/heart3.png" width="100%" style="display:inline-block;" class="img-responsive"/>
						</div>
						<div class="col-xs-5 titleLevels"">
							1
						</div>
					</div>
				</div>
				<div class="col-xs-1">
				</div>
				<div class="col-xs-4 text-center" style="margin:6px;">
					<div class="row" style="border: 3px #0c4069 dashed;border-radius:10px;">
						<div class="col-xs-7 text-center" style="padding-right:0px;padding-left:0px;">
							<img src="./images/people3.png" width="100%" style="display:inline-block;" class="img-responsive"/>
						</div>
						<div class="col-xs-5 titleLevels">
							1
						</div>
					</div>
				</div>
				
		</div>
		
		
		<br /><br />
		<div class="row">
				<div class="col-xs-1">
				</div>
				<div class="col-xs-4 text-center" style="margin:6px;">
					<div class="row" style="border: 3px #0d7770 dashed;border-radius:10px;">
						<div class="col-xs-7 text-center" style="padding-right:0px;padding-left:0px;">
							<img src="./images/plant3.png" width="100%" style="display:inline-block;" class="img-responsive"/>
						</div>
						<div class="col-xs-5 titleLevels">
							1
						</div>
					</div>
				</div>
				<div class="col-xs-1">
				</div>
				<div class="col-xs-4 text-center" style="margin:6px;">
					<div class="row" style="border: 3px #8cc640 dashed;border-radius:10px;">
						<div class="col-xs-7 text-center" style="padding-right:0px;padding-left:0px;">
							<img src="./images/agile3.png" width="75%" style="display:inline-block;padding-top:6px;" class="img-responsive"/>
						</div>
						<div class="col-xs-5 titleLevels">
							1
						</div>
					</div>
				</div>
				
		</div>
		
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function()
	{
			
	});
</script>