<div class="row">
    <div class="col-lg-12 text-center">
        <span class="title1 AppColor">Reach</span>
    </div>
    <div class="col-lg-12 text-center">
        <span class="title3">next Badge</span>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-xs-3 text-right">
        <img src="./images/clock.png" width="80%" class="img-responsive" style="display:inline-block"/>
    </div>
    <div class="col-xs-8 NoPaddingLR">
        <div class="skillbar clearfix " data-percent="0%" id="Cat1">
            <div class="skillbar-bar backgroundMain"></div>
            <div class="skill-bar-percent" id="Cat_percent4"><label id="percent4" class="title4"></label></div>
        </div> <!-- End Skill Bar -->
    </div>
</div>

<div class="row">
    <div class="col-xs-3 text-right">
        <img src="./images/people.png" width="80%" class="img-responsive" style="display:inline-block"/>
    </div>
    <div class="col-xs-8 NoPaddingLR">
        <div class="skillbar clearfix " data-percent="0%" id="Cat2">
            <div class="skillbar-bar backgroundMain"></div>
            <div class="skill-bar-percent" id="Cat_percent2"><label id="percent2" class="title4"></label></div>
        </div> <!-- End Skill Bar -->
    </div>
</div>

<div class="row">
    <div class="col-xs-3 text-right">
        <img src="./images/plant.png" width="80%" class="img-responsive" style="display:inline-block"/>
    </div>
    <div class="col-xs-8 NoPaddingLR">
        <div class="skillbar clearfix " data-percent="0%" id="Cat3">
            <div class="skillbar-bar backgroundMain"></div>
            <div class="skill-bar-percent" id="Cat_percent5"><label id="percent5" class="title4"></label></div>
        </div> <!-- End Skill Bar -->
    </div>
</div>

<div class="row">
    <div class="col-xs-3 text-right">
        <img src="./images/heart.png" width="80%" class="img-responsive" style="display:inline-block"/>
    </div>
    <div class="col-xs-8 NoPaddingLR">
        <div class="skillbar clearfix " data-percent="0%" id="Cat4">
            <div class="skillbar-bar backgroundMain"></div>
            <div class="skill-bar-percent" id="Cat_percent3"><label id="percent3" class="title4"></label></div>
        </div> <!-- End Skill Bar -->
    </div>
</div>

<div class="row">
    <div class="col-xs-3 text-right">
        <img src="./images/good.png" width="80%" class="img-responsive" style="display:inline-block"/>
    </div>
    <div class="col-xs-8 NoPaddingLR">
        <div class="skillbar clearfix" data-percent="0%" id="Cat4">
            <div class="skillbar-bar backgroundMain"></div>
            <div class="skill-bar-percent" id="Cat_percent1"><label id="percent1" class="title4"></label></div>
        </div> <!-- End Skill Bar -->
    </div>
</div>


<div class="col-lg-12 text-center">
    <button class="btn ClickBackBad ActiveRed" onClick="setView('badges',badges_js,false)"><span class="title5 ActiveRed">Go back!</span></button>
</div>
    

