<div class="container">
<h1 class="title2 greenColor text-center">Fun acts!</h1>

<div id="Loading3" class="row">
		<div class="col-xs-offset-4 col-xs-4 text-center">
			<img id="loading" src="./images/menu.gif" width="100%" class="img-responsive" style="display:inline;"/>
		</div>
</div>
	
    <ul id="myList" class="timeline" style="font-size:12px;     line-height: 1;">
    
        
        
        
    </ul>
    
    <div class="row" style="padding-top:20px; padding-bottom:25px;">
    
    	
    	<div class="col-xs-12 text-center">
    		<button id="another" type="button" class="btn btn-danger">Next Ten!!!</button>
    	</div>
    	<br />
    	<div id="ChangingIMG" class="col-xs-offset-4 col-xs-4 text-center" style="display:none;">
			<img id="loading3" src="./images/menu.gif" width="100%" class="img-responsive" style="display:inline;"/>
		</div>
    </div>
</div>