<div class="row" style="border-bottom:1px solid #E8E9EA">
	<div class="col-xs-3 text-center categoryLavel CategoryOneClick">
		<label id="izquierda" class="text-menu-category title5">&nbsp;</label>
	</div>
	<div class="col-xs-6 text-center categoryLavel CategoryTwolick">
		<label class="text-menu-category title5" id="CategoryName">Productivity</label>
	</div>
	<div class="col-xs-3 text-center categoryLavel CategoryThreeClick">
		<label id="derecha" class="text-menu-category title5">&#62;&#62;</label>
	</div>
</div>


<script type="text/javascript">
		$(".CategoryOneClick").on('click',function()
		{
			changeCategory("right");
		});
		
		$(".CategoryThreeClick").on('click',function()
		{
			changeCategory("left");
		});
</script>
