
<div id="barMenuIphone">
	<div id="barIphone">
	</div>
	<nav id="MenuBarMain" class="MenuBackground backgroundMain navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <img id="UserPicture" src="./images/foto.png" width="50px" style="display:inline-block;" class="img-responsive img-circle" />
		      </button>
		      <img src="./images/logo.png" height="70px" class="navbar-brand img-responsive main" />
		    </div>
		
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="backScore2"><a class="menuOptions backScore2" href="javascript:void(0);">My Ranking</a></li>
		        <li class=""><a class="menuOptions rulesGo" href="javascript:void(0);">Rules</a></li>
		        <li class=""><a class="menuOptions logout" href="javascript:void(0);">Log Out</a></li>
		      </ul>
		    </div>
	  </div>
	</nav>
</div>
<div id="relleno" style="height:75px;">
</div>

<script type="text/javascript">
	$(document).ready(function(){
			if(devicePlatform=="iOS - iPhone" || devicePlatform=="iOS")
			{
				$("#barMenuIphone").addClass( "navbar-fixed-top" );
				$("#barIphone").css("background-color","#FFFFFF");
				$("#barIphone").css("width","100%");
				$("#barIphone").css("height","20px");
				$("#relleno").css("height","75px");
				
			}else if(devicePlatform=="Android")
				{
					$("#MenuBarMain").addClass( "navbar-fixed-top" );
					$("#relleno").css("height","65px");
				}
			LoadPicture($("#UserPicture"));
					
	});
</script>